body{
    background-color: rgb(246, 239, 210);
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
}
.book-form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    justify-content: center;

    padding: 5rem 10rem;
}

.library-form {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 1rem;
    align-items: center;
}

input {
    border-radius: 0.25rem;
}