body{
    background-color: rgb(246, 239, 210);
    font-size: 1.5rem;
    padding: 5rem 10rem;
}

h1 {
    font-size: 2rem;
}

.form{
    padding: 3rem none;
}

#bookForm{
    justify-content: center;
}

.library-form {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    align-items: center;
}

input {
    border-radius: 0.25rem;
}